<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publiczna</title>
</head>
<body>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <p>Witaj, jesteś zalogowany!</p>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Wyloguj się</button>
    </form>
</div>

<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <a href="/login">Zaloguj się</a>
</div>

<hr>
<nav>
    <a href="/prywatna">Prywatna</a> |
    <a href="/admin">Panel Admina</a>
</nav>
</body>
</html>